<div id="<%= dom_id dtc %>">
   <tr>
    <td><%= dtc.shortText %></td>
    <td><%= dtc.pCode %></td>
    <td><%= dtc.spnFmi %></td>
    <td>
      <%= link_to "Show this dtc", dtc %>
    </td>
  </tr>
</div>
